<footer class="footer bg-[#f0f3f2] py-7">
    <div class="container">
        <h2 class="footer__title mb-3">asdas</h2>
        <p class="footer__desc mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <div class="footer__subscribtion flex gap-x-4 mb-8 ">
            <input type="text" class="w-[90%] rounded-md">
            <button class="bg-main text-white px-3 py-1 rounded-md w-[10%] ">share App</button>
        </div>
        <div class="footer__paymant flex justify-between  border-b-[1px] border-t-[1px] py-5 border-gray">
            <p>payment partnaner</p>
            <p>payment Lorem, ipsum dolor</p>

        </div>




    </div>
</footer>